<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>
	angular.module('myApp',[]).controller('planetCtrl', function($scope){
		$scope.planets=[
			{ name:'Mercury', color:'yellow' },
			{ name:'Venus', color:'green' },
			{ name:'Earth', color:'blue' },
			{ name:'Mars', color:'red' },
			{ name:'Jupiter', color:'white' }
		];
		$scope.myOrder = 'color';
		$scope.orderByMe = function(x)
		{
			$scope.myOrder = x;
		}
	});
</script>
</head>
<body ng-app="myApp" ng-controller="planetCtrl">

	<table>
	
		<tr>
			<th ng-click="orderByMe('name')">Name</th>
			<th ng-click="orderByMe('color')">Color</th>			
		</tr>
		
		<tr ng-repeat="x in planets | orderBy:myOrder">
			<td>{{x.name}}</td>
			<td>{{x.color}}</td>
		</tr>
		
	</table>

</body>
</html>